<aside class="w-64 bg-blue-900">
	<div class="p-4 text-center">
		<h1 class="text-2xl font-bold text-yellow-300">CASH POINT</h1>
	</div>
	<nav class="mt-6">
		<ul class="space-y-2">
			<li>
				<a href="#" class="block px-4 py-2 text-white hover:bg-blue-700">Compte</a>
			</li>
			<li>
				<a href="#" class="block px-4 py-2 text-white hover:bg-blue-700">Adresse</a>
			</li>
			<li>
				<a href="#" class="block px-4 py-2 text-white hover:bg-blue-700">Commission</a>
			</li>
			<li>
				<a href="#" class="block px-4 py-2 text-white hover:bg-blue-700">Frais</a>
			</li>
			<li>
				<a href="#" class="block px-4 py-2 text-white hover:bg-blue-700">Transaction</a>
			</li>
			<li>
				<a href="#" class="block px-4 py-2 text-white hover:bg-blue-700">Etat</a>
			</li>
		</ul>
	</nav>
</aside>
